# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.challenge5wack-a-food.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\raoul\games\gamesMBOUTRECHT\challenge5wack-a-food\.idea\.idea.challenge5wack-a-food\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
